@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.wrapper {
  display: table;
  height: 100%;
  width: 100%; }

h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em; }

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em; } }

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em; } }

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em; } }

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #070707;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s; }
  .card:hover {
    box-shadow: 0 8px 17px 0 #473355,0 6px 20px 0 #290341; }
  .card .container-fostrap {
    padding: 1em;
    text-align: center;
    vertical-align: middle; }
  .card .img-card {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden; }
    .card .img-card img {
      justify-content: center;
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: all .25s ease; }
      .card .img-card img:hover {
        transform: scale(1.03); }
  .card .card-content {
    padding: 15px;
    text-align: left; }
  .card .card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em; }
    .card .card-title a {
      color: White;
      text-decoration: none !important; }
  .card .card-read-more {
    border-top: 1px solid #a52cf7; }
    .card .card-read-more a {
      text-decoration: none !important;
      padding: 10px;
      font-weight: 600;
      text-transform: uppercase; }
  .card .contenedor {
    padding: 1rem; }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #070707; }

.navbar {
  z-index: 1; }

nav {
  background-color: #1B1A1F; }
  nav ul li a {
    color: white !important; }
    nav ul li a:hover {
      color: #a52cf7 !important; }

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0) !important; }

.dropdown-item {
  background-color: #1b1a1f00 !important; }

.secpad {
  padding-top: 1rem; }

.container-fluid {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important; }

section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.text-center {
  text-align: center !important; }

.secpadding {
  padding-top: 50%;
  padding-left: 10%;
  padding-right: 10%; }

.lavioleta {
  color: #a52cf7; }

.bg-color {
  background-color: #070707; }

a .text-hover-violeta {
  color: white; }
  a .text-hover-violeta:hover {
    color: #a52cf7 !important; }

p a:hover {
  color: #a52cf7 !important; }

section div img {
  justify-content: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all .25s ease; }
  section div img:hover {
    transform: scale(1.1); }

.colorcard {
  background-color: white !important; }

.bg-primary {
  background-color: #a52cf7 !important; }

.img-contact {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 150vh;
  max-height: 150vh; }

.bg-image {
  background-image: url("https://pbs.twimg.com/media/FS1bNEuXEAAmdH8?format=jpg&name=large");
  border-radius: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.color-text {
  color: #515052; }

.hdcolor {
  background-color: #a52cf7; }

video {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  max-width: 150vh;
  max-height: 150vh; }

/* From uiverse.io by @xueyuantan */
button {
  background-color: #a52cf7;
  color: white;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  button:before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #a52cf7 0%, #d89bf5 100%);
    transition: .5s ease;
    display: block;
    z-index: -1; }
  button:hover::before {
    width: 15rem; }

.btn-link {
  color: white !important; }
  .btn-link:hover {
    color: #a52cf7 !important; }

.btn-primary {
  border-color: #a52cf7 !important;
  background-color: #a52cf7 !important; }

@media only screen and (max-width: 600px) {
  video {
    max-width: 25vh;
    max-height: 50vh; }
  .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important; } }

@media only screen and (max-width: 768px) {
  video {
    max-width: 25vh;
    max-height: 50vh; }
  .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  video {
    max-width: 100vh;
    max-height: 100vh; }
  .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important; } }

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  video {
    max-width: 100vh;
    max-height: 100vh; }
  .container-fluid {
    padding-left: 1rem !important;
    padding-right: 1rem !important; } }
